
 <div class="row">
 <img class="rounded-circle mx-auto mb-auto d-block" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
data-holder-rendered="true"></div>
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="card">
          <div class="card-header">
           <h4> Update Profile</h4>
          </div>
          <div class="card-body">
            <form action="" method="post">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                  </div>
                  <input type="text" id="username3" name="username3" class="form-control" value={{result.name}} ([ngModel])="update.name">
                  
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                  </div>
                  <input type="email" id="email3" name="email3" class="form-control" value={{result.email}} ([ngModel])="update.email">
                 
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Mobile</span>
                  </div>
                  <input type="text" id="mobile" name="mobile" class="form-control" autocomplete="mobile" value={{result.mobile}} ([ngModel])="update.mobile" name="mobile">
                 
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                  </div>
                  <textarea type="text" id="mobile" name="mobile" class="form-control" value={{result.address}} ([ngModel])="update.Address" name="mobile"></textarea>
                  
                </div>
              </div>
              <div class="input-group mb-3">   
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <select id="select1" name="select1" class="form-control" [(ngModel)]="update.role" name="role" value="{{result.role}}">
                  <option value="" disabled>Please select</option>
                  <option value="user" selected>User</option>
                  <option value="admin">admin</option>                      
                </select>                
              </div>       

              <div class="form-group form-actions">
                <button type="submit" class="btn btn-sm btn-primary" (click)="updateUser()">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>

  
